<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>status.pile</title>
    <style>
      @import "main.css";
    </style>
  </head>

  <body>
    <!-- Div where Vue runs -->
    <div id="app">
      <header>
        <nav>
          <ul>
            <li v-for="(tab, tabName) in tabs" :key="tabName">
              <button
                class="tab"
                @click="setTabActive(tabName)"
                :class="{'active': tabName === activeTab}"
              >
                <span class="tab-copy">{{ tabName }}</span>
                <span class="tab-background">
                  <span class="tab-rounding left"></span>
                  <span class="tab-rounding right"></span>
                </span>
              </button>
            </li>
          </ul>
        </nav>
      </header>
      <div>
        <transition name="fade" mode="out-in" appear :duration="450">
          <tab-content
            v-for="(tabContent, t) in tabs"
            :data="tabContent"
            :key="'content'+t"
            v-if="t === activeTab"
            inline-template
          >
            <div>
              <div>
                <!-- <h1>{{data.title}}</h1> -->
                <table class="frames">
                  <tr>
                    <th v-for="(d, index) in data.body" v-if="index<4">
                      {{d | subStr('d')}}
                    </th>
                  </tr>

                  <tr>
                    <td v-for="(d, index) in data.body" v-if="index<4">
                      <iframe id="frame" :src="d" @load="iframeStyles"></iframe>
                    </td>
                  </tr>
                  <tr>
                    <th v-for="(d, index) in data.body" v-if="index>=4">
                      {{d}}
                    </th>
                  </tr>
                  <tr>
                    <td v-for="(d, index) in data.body" v-if="index>=4">
                      <iframe id="frame" :src="d"></iframe>
                    </td>
                  </tr>
                </table>
              </div>
            </div>
          </tab-content>
        </transition>
      </div>
    </div>

    <script>
      var app = new Vue({
        el: "#app",
        data: {
          message: "status piles",
          tabs: {
            FEATURE: {
              title: "nonprod",
              body: [],
            },
            QA: {
              title: "nonprod",
              body: [],
            },
            CAT: {
              title: "preprod",
              body: [],
            },
            PROD: {
              title: "prod",
              body: [],
            },
          },
          activeTab: "FEATURE",
          timeStamp: "",
        },
        computed: {
          tabContent() {
            return this.tabs[this.activeTab];
          },
        },
        methods: {
          setTabActive(tab) {
            this.activeTab = tab;
          },
          iframeStyles() {
            this.frame = this.$refs.iframeContent.contentWindow;
            const style =
              ".layout__wrapper {background:" +
              this.background +
              ";} " +
              "body {color:" +
              this.text +
              ";} ";
            this.frame.postMessage(style, "*");
          },
        },
        components: {
          TabContent: {
            props: {
              data: Object,
            },
          },
        },
        filters: {
          subStr: "json",
          function(value) {
            var str = JSON.stringify(value);
            return str.substring(8, str.lastIndexOf("/piles"));
          },
          subStr2: function (str) {
            if (str.includes("prodwest")) {
              return "PROD";
            } else {
              var s = str.substring(
                str.lastIndexOf("comm-"),
                str.lastIndexOf(".com")
              );
              return s.substring(5).toUpperCase();
            }
          },
        },
        mounted() {
          const today = new Date();
          const date =
            today.getMonth() +
            1 +
            "/" +
            today.getDate() +
            "/" +
            today.getFullYear();
          const time =
            today.getHours() +
            ":" +
            today.getMinutes() +
            ":" +
            today.getSeconds();
          const dateTime = date + " " + time;
          this.timeStamp = dateTime;
          window.addEventListener("message", function (e) {
            if (e.origin === "https://app.theparentapp.com") {
              var style = document.createElement("style");
              style.textContent = e.data;
              document.head.appendChild(style);
            }
          });
        },
      });
    </script>
  </body>
</html>
